$primary-color: lighten(cornflowerblue, 10%);
$secondary-color: white;
$danger-color: purple;
$font-size: (
    "small": 0.5rem,
    "medium": 0.7rem,
    "large": 0.9rem,
    "big": 1.2rem
);
$font-weight: (
    "light": 400,
    "bold": 600,
    "bolder": 800
);